<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/clinicals.css''%}"/>
    <title>Document</title>
</head>
<body>
    <h2>Patient Details</h2>
    First Name: {{patient.firstName}}
    Last Name: {{patient.lastName}}
    Age: {{patient.age}}
    <h2>Patient Clinical Data</h2>
    <form method="post">
        {{form.as_table}}
        {%csrf_token%}
        <input type="submit" value="save"/>
    </form>
</body>
</html>