<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/clinicals.css''%}"/>
    <title>Document</title>
</head>
<body>
    <h1>Clinical Data Report</h1>
    <table border="2">
        <thead>
            <th>Component Name</th>
            <th>Component Value</th>
            <th>Measure Date Time</th>
        </thead>
        <tbody>
            {% for  eachEntry in data %}
            <tr>
                <td>{{eachEntry.componentName}}</td>
                <td>{{eachEntry.componentValue}}</td>
                <td>{{eachEntry.measuredDateTime}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="/">Home</a>
</body>
</html>