<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=           , initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/clinicals.css''%}"/>
    <title>Document</title>
</head>
<body>
    <h1>Patient</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </thead>
        <tbody>
            {% for patient in patient_list %}
            <tr>
                <td>{{patient.id}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.age}}</td>
                <td><a href="update/{{patient.id}}">Edit</a></td>
                <td><a href="delete/{{patient.id}}">Delete</a></td>
                <td><a href="addData/{{patient.id}}">Add Data</a></td>
                <td><a href="analyse/{{patient.id}}">Analyse Data</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <p><a href="create/">Add Patient</a></p>
</body>
</html>